:root {
    --color-lightest: #ffffff;
    --color-lighter: #dfe9f2;
    --color-light: #c2ccd5;
    --color-mid: #57848e;
    --color-dark: #375059;
    --color-darker: #223139;
    --color-darkest: #0e252d;
    --color-blue: #007FAD;
    --color-blue-dark: #004a68;
    --color-blue-light: #98d7ff;
    --color-red: #b5050d;
    --color-red-dark: #6e0507;
    --color-red-light: #f3b2b2;
    --color-orange: #ec9a08;
    --color-orange-dark: #7d5506;
    --color-orange-light: #ffd8a6;
    --color-green: #4faa07;
    --color-green-dark: #356b07;
    --color-green-light: #c1eba3;
    --color-gray: #d6d6d6;
    --color-gray-dark: #606060;
    --color-gray-light: #e0e0e0;
    --person-color: var(--color-darkest);
    --body-color: var(--color-dark);
    --body-bg-color: var(--color-light);
    --link-color: var(--color-blue);
    --border-color: var(--color-gray);
    --message-color: var(--color-darkest);
    --message-bg-color: var(--color-lightest);
    --message-form-bg-color: var(--color-lighter);
    --message-action-link-color: var(--color-dark);
    --default-message-border-color: var(--color-dark);
    --size-adjust: 0px;
    --radius-small: 3px;
    --radius: 5px;
    --radius-large: 8px;
    --message-border-size: var(--radius);
    --font-size-tiny: calc(14px + var(--size-adjust));
    --font-size-small: calc(16px + var(--size-adjust));
    --font-size-mid: calc(18px + var(--size-adjust));
    --font-size-large: calc(20px + var(--size-adjust));
    --line-height: 1.4;
    --body-font-family: Roboto, Helvetica, Arial, sans-serif;
    --max-size: 1000px;
    --icon-size-small: calc(16px + var(--size-adjust));
    --icon-size: calc(24px + var(--size-adjust));
    --icon-size-large: calc(30px + var(--size-adjust));
    --gap-tiny: 5px;
    --gap-smaller: 10px;
    --gap-small: 15px;
    --gap: 20px;
    --gap-large: 30px;
    --gap-huge: 40px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --body-color: var(--color-light);
        --body-bg-color: var(--color-darker);
        --link-color: var(--color-blue-light);
        --border-color: var(--color-dark);
        --message-color: var(--color-lightest);
        --message-bg-color: var(--color-darkest);
        --message-form-bg-color: var(--color-dark);
        --message-action-link-color: var(--color-light);
    }
}

* {
    box-sizing: border-box;
}


/* LAYOUT */
body {
    font-family: var(--body-font-family);
    font-weight: 400;
    font-size: var(--font-size-mid);
    color: var(--body-color);
    background-color: var(--body-bg-color);
    padding: 0;
    margin: 0 0 var(--gap-large) 0;
    display: grid;
    grid-template-columns: [page-start] 100% [page-end];
    grid-template-rows: [header-start] auto [header-end content-start] 1fr [content-end footer-start] auto [footer-end];
    grid-row-gap: var(--gap);
}

body::before {
    content: '';
    display: block;
    background-color: var(--color-darkest);
    border-top: 2px solid var(--person-color);
    grid-column-start: page-start;
    grid-row-start: header-start;
}

.header {
    grid-column-start: 1;
    grid-row-start: header-start;
}

section.main {
    grid-column-start: 1;
    grid-row-start: content-start;
    padding: 0 var(--gap-smaller);
}

.footer {
    grid-column-start: 1;
    grid-row-start: footer-start;
    padding: 0 var(--gap-small);
}

@media screen and (min-width: 600px) {
    section.main {
        padding: 0 var(--gap-small);
    }
}

@media screen and (min-width: 1000px) {
    body {
        grid-template-columns: [page-start] 1fr [content-start] var(--max-size) [content-end] 1fr [page-end];
    }

    body::before {
        grid-column-start: page-start;
        grid-column-end: page-end;
    }

    .header {
        grid-column-start: content-start;
    }

    section.main {
        grid-column-start: content-start;
        padding: 0;
    }

    .footer {
        grid-column-start: content-start;
        padding: 0;
    }
}


/* ELEMENTS */
.card {
    color: var(--message-color);
    background-color: var(--message-bg-color);
    box-shadow: 2px 2px 2px rgba(69, 18, 0, 0.1);
    border-left: var(--message-border-size) solid var(--default-message-border-color);
    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
    padding: var(--gap);
}

.alert {
    padding: var(--gap-small);
    border: 1px solid var(--color-gray);
    background-color: var(--color-gray-light);
    border-radius: var(--radius);
    color: var(--color-darkest);
}

.alert-success {
    border-color: var(--color-green);
    background-color: var(--color-green-light);
}

.alert-info {
    border-color: var(--color-blue);
    background-color: var(--color-blue-light);
}

.alert-warning {
    border-color: var(--color-orange);
    background-color: var(--color-orange-light);
}

.alert-danger {
    border-color: var(--color-red);
    background-color: var(--color-red-light);
}

textarea,
input[type="text"],
input[type="tel"],
input[type="password"],
input[type="email"] {
    font-family: var(--body-font-family);
    font-size: var(--font-size-mid);
    font-weight: 400;
    padding: var(--gap-tiny) var(--gap-smaller);
    border: 1px solid var(--border-color);
    color: var(--body-color);
    background-color: var(--body-bg-color);
}

textarea {
    min-height: 100px;
}

input[type="submit"],
button,
.button {
    display: inline-flex;
    align-items: center;
    font-family: var(--body-font-family);
    font-size: var(--font-size-small);
    vertical-align: bottom;
    border: none;
    border-radius: var(--radius);
    padding: var(--gap-tiny) var(--gap);
    background-color: var(--color-gray);
    color: var(--color-darkest);
    box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.3), inset 1px 1px 1px rgba(255, 255, 255, 0.3);
    text-decoration: none;
}

.button:hover {
    cursor: pointer;
}

.button-primary {
    background-color: var(--color-blue);
    color: var(--color-lightest);
}

.button-primary:hover {
    background-color: var(--color-blue-dark);
}

.button-warning {
    background-color: var(--color-orange);
    color: var(--color-lightest);
}

.button-warning:hover {
    background-color: var(--color-orange-dark);
}

.button-danger {
    background-color: var(--color-red);
    color: var(--color-lightest);
}

.button-danger:hover {
    background-color: var(--color-red-dark);
}

a {
    color: var(--link-color);
}

a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    margin-top: var(--gap-large);
    margin-bottom: var(--gap-small);
}

h1 {
    font-size: var(--font-size-large);
}

h2 {
    font-size: var(--font-size-mid);
}

h3, h4, h5 {
    font-size: var(--font-size-tiny);
}

.icon {
    width: var(--icon-size);
    height: var(--icon-size);
}

a .icon {
    margin-right: var(--gap-tiny);
}

.is-hidden {
    display: none!important;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group.checkbox {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.form-group.checkbox input {
    margin-right: var(--gap-small);
}


/* HEADER */
.header {
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-auto-flow: row;
    grid-column-gap: var(--gap);
    grid-row-gap: var(--gap-small);
    padding: var(--gap-small) var(--gap-small);
    background-color: var(--color-darkest);
    border-top: 2px solid var(--person-color);
}

.header .family-forum-logo {
    display: flex;
    align-items: center;
    font-size: var(--font-size-large);
    color: var(--color-lightest);
}

.header .family-forum-logo svg {
    width: var(--icon-size-large);
    height: var(--icon-size-large);
    margin-right: var(--gap-small);
}

.header .show-search,
.header .view-people,
.header .view-homepage {
    color: var(--color-light);
    display: flex;
    align-items: center;
}

.header a {
    text-decoration: none;
}

.header a:hover {
    text-decoration: underline;
}

.header .view-homepage {
    display: none;
}


/* SEARCH */
.search-form {
    grid-column-start: 1;
    grid-column-end: 4;
    justify-self: end;
    display: none;
    align-items: center;
    width: 100%;
}

.search-form.is-visible {
    display: flex;
}

.search {
    width: 100%;
    background-color: var(--message-bg-color);
    color: var(--message-color);
    border: none;
    height: var(--gap-large);
    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
    padding: 0 var(--gap-small);
}

.search-form button {
    height: var(--gap-large);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

@media screen and (min-width: 600px) {
    .header {
        grid-template-rows: 1fr;
        padding: var(--gap) var(--gap-small);
    }

    .header .show-search {
        display: none;
    }

    .search-form {
        grid-column-start: 3;
        grid-column-end: 4;
        width: auto;
        display: flex;
    }

    .search {
        width: 100px;
        opacity: 0.7;
        transition: width 300ms, opacity 600ms;
    }

    .search:focus {
        width: 200px;
        opacity: 1;
    }
}

/* FOOTER */
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: var(--font-size-small);
}

.footer a {
    display: flex;
    align-items: center;
    margin: 0 var(--gap-smaller) var(--gap-smaller);
}

.footer .icon {
    width: var(--icon-size-small);
    height: var(--icon-size-small);
}

.footer .add-to-home-screen {
    display: none;
}

@media screen and (min-width: 1000px) {
    .header {
        grid-column-gap: var(--gap);
        padding: var(--gap) 0;
    }
}
