/* the button on the home page */
.message-create-new {
    padding: var(--gap-small) var(--gap);
    justify-content: center;
    font-size: var(--font-size-mid);
}


/* MESSAGE FORM AREA */
.message-form {
    display: block;
    padding: 0;
    background-color: var(--message-form-bg-color);
}

.message-form .form-fields {
    padding: var(--gap-small);
    display: grid;
    grid-gap: var(--gap-small);
}

.uploaded-image {
    position: relative;
    min-height: var(--gap-huge);
}

.uploaded-image img {
    max-width: 100%;
    max-height: var(--max-size);
}

.uploaded-image .remove-image {
    position: absolute;
    top: var(--gap);
    left: var(--gap);
}

.photo-form-group {
    display: grid;
}

.photo-form-group input {
    opacity: 0;
    z-index: 1;
    cursor: pointer;
    justify-self: start;
    grid-column-start: 1;
    grid-row-start: 1;
}

.photo-form-group .upload-photo {
    z-index: 0;
    justify-self: start;
    grid-column-start: 1;
    grid-row-start: 1;
}

.photo-form-group input:hover ~ .upload-photo {
    background-color: var(--color-blue-dark);
}

.photo-form-group .upload-photo .icon {
    margin-right: var(--gap-small);
}

.message-form #message_body {
    min-height: 200px;
    padding: var(--gap-small);
    border: 1px dashed var(--color-gray-dark);
}


/* PAGINATION */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-small);
}

.homepage .pagination-top {
    display: none;
}

.pagination .pages {
    margin: 0 var(--gap-small);
}

.pagination .previous-page,
.pagination .next-page {
    display: flex;
    align-items: center;
    font-size: var(--font-size-tiny);
    font-weight: bold;
}

.pagination .icon {
    margin: 0;
}


/* MESSAGES */
.messages {
    display: grid;
    grid-auto-rows: auto;
    grid-row-gap: var(--gap-small);
}

.message {
    display: grid;
    grid-gap: var(--gap-tiny);
}

.message-main {
    padding: 0;
    order: 2;
    overflow: auto;
}

.message-image {
    display: flex;
    justify-content: center;
}

.message-image img {
    align-self: center;
    max-width: 100%;
    max-height: var(--max-size);
}

.message-body {
    padding: var(--gap-small);
    font-size: var(--font-size-small);
    line-height: var(--line-height);
}

.message-body a {
    color: var(--link-color);
}

.message-body img {
    max-width: 100%;
    max-height: var(--max-size);
}

.message-body p {
    margin-top: 0;
    margin-bottom: var(--gap-small);
}

.message-body p:last-of-type {
    margin-bottom: 0;
}

.embedded-video {
    margin-top: var(--gap);
    position: relative;
}

.embedded-video img {
    width: 100%;
}

.embedded-video.has-preview::before {
    position: absolute;
    content: '';
    display: block;
    background-image: url('/images/youtube-play.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    pointer-events: none;
    cursor: pointer;
}

.message-details {
    display: grid;
    grid-template-columns: [author-start] auto [author-end date-start] auto [date-end actions-start] 1fr [actions-end];
    grid-auto-rows: auto;
    grid-gap: var(--gap-tiny) var(--gap-small);
    font-size: var(--font-size-tiny);
    padding: 0 var(--gap-tiny);
    order: 1;
}

.message-details .icon {
    width: var(--icon-size-small);
    height: var(--icon-size-small);
    margin-right: var(--gap-tiny);
}

.message-author {
    font-weight: bold;
    grid-column-start: author-start;
}

.message-date {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    grid-column-start: date-start;
}

.message-actions {
    display: flex;
    grid-column-start: actions-start;
    justify-self: self-end;
}

.message-actions a {
    color: var(--message-action-link-color);
}

.message-likes {
    position: relative;
}

.message-likes-info {
    position: absolute;
    background-color: var(--color-dark);
    color: var(--color-lightest);
    bottom: var(--icon-size-small);
    right: var(--icon-size-small);
    border-radius: var(--radius) var(--radius) 0 var(--radius);
    padding: var(--gap-smaller);
    min-width: 200px;
}

.message-likes-info p {
    margin: 0;
}

.message-likes-info a {
    margin-top: var(--gap-tiny);
    text-decoration: underline;
    color: var(--color-light);
}

.message-likes-info a:hover {
    color: var(--color-lightest);
}

.view-in-context,
.message-edit,
.message-likes .like {
    display: flex;
    vertical-align: baseline;
    height: var(--icon-size-small);
    align-items: center;
}

.my-likes .icon,
.liked .icon {
    stroke: var(--body-bg-color);
    stroke-width: 1px;
    fill: currentColor;
}

.liked,
.my-likes {
    cursor: help;
}

.message-actions .message-likes,
.message-actions .message-edit {
    margin-left: var(--gap-small);
}

.pell-content {
    background-color: var(--message-bg-color);
    padding: var(--gap-small);
    min-height: 200px;
    font-size: var(--font-size-small);
    border: 1px solid transparent;
}

.pell-content a {
    color: var(--color-blue);
}

.pell-content p {
    margin-top: 0;
}

.pell-content p:last-of-type {
    margin-bottom: 0;
}

.pell-content img {
    max-width: 100%;
}

.pell-actionbar {
    margin-bottom: var(--gap-tiny);
    display: grid;
    grid-auto-flow: column;
    grid-gap: var(--gap-tiny);
    justify-content: start;
}

.pell-button {
    padding: var(--gap-tiny);
}

.pell-button .icon {
    width: var(--icon-size-small);
    height: var(--icon-size-small);
    stroke-width: 3px;
}

.pell-button-selected {
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.3), inset -1px -1px 0px rgba(255, 255, 255, 0.3);
    background-color: var(--color-lightest);
}

@media screen and (min-width: 600px) {
    .messages {
        grid-row-gap: var(--gap);
    }

    .message-body {
        padding: var(--gap);
        font-size: var(--font-size-mid);
        line-height: var(--line-height);
    }

    .message-create-new {
        justify-self: start;
    }

    .message-form .form-fields {
        padding: var(--gap);
    }

    .message-form #message_body {
        padding: var(--gap);
    }

    .pell-content {
        font-size: var(--font-size-mid);
        padding: var(--gap);
    }
}
