.users {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: var(--gap);
}

.users .user {
    padding: var(--gap-small);
}

.users dl a {
    color: var(--link-color);
}

.users .user-name {
    font-size: var(--font-size-large);
    font-weight: bold;
    margin-bottom: var(--gap-small);
}

.users .user-details {
    font-size: var(--font-size-small);
}

.users .user-details dl {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: var(--gap-tiny) var(--gap);
}

.users .user-details dt {
    margin: 0;
    font-weight: bold;
}

.users .user-details dd {
    margin: 0;
}

@media screen and (min-width: 600px) {
    .users .user {
        padding: var(--gap);
    }

    .users .user-details {
        font-size: var(--font-size-mid);
    }
}

@media screen and (min-width: 1000px) {
    .users {
        grid-template-columns: 1fr 1fr;
        grid-column-start: 2;
        margin: 0;
    }
}

.header .view-homepage {
    display: flex;
}

.header .view-people {
    display: none;
}
