<div class="footer">
    <a href="{{ path('messages_all') }}" class="view-all-messages">
        {% include 'default/icon.svg.twig' with {'icon': 'all-messages'} %} View all messages
    </a>
    <a href="{{ path('rss') }}" class="rss-feed" target="_blank">
        {% include 'default/icon.svg.twig' with {'icon': 'rss'} %} RSS feed
    </a>
    <a href="#change-font-size" id="change-font-size" class="change-font-size">
        {% include 'default/icon.svg.twig' with {'icon': 'change-font-size'} %} Change font size
    </a>
    <a href="#" class="add-to-home-screen">
        {% include 'default/icon.svg.twig' with {'icon': 'add-to-home'} %} Add to home screen
    </a>
    <a href="{{ logout_path('main') }}" class="log-out">
        {% include 'default/icon.svg.twig' with {'icon': 'log-out'} %} Log out
    </a>
</div>

