<div class="header">
    <a href="{{ path('homepage') }}" class="family-forum-logo">
        <svg width="30" height="30" version="1.1" viewBox="0 0 26.458 26.458" xmlns="http://www.w3.org/2000/svg">
            <g transform="translate(0 -270.54)">
                <rect y="270.54" width="26.458" height="26.458" fill="#fff" stroke-width=".051676"/>
                <g transform="matrix(.19531 0 0 .19531 -5.1676 244.16)" fill="#0e252d" aria-label="F">
                    <path d="m63.082 248.16v-90.71h62.219v21.719h-37.306v15.076h30.407v20.186h-30.407v33.729z" fill="#0e252d" stroke-width="3.194"/>
                </g>
            </g>
        </svg>
        <span>Family Forum</span>
    </a>
    <a href="{{ path('users') }}" class="view-people" title="All the people">
        {% include 'default/icon.svg.twig' with {'icon': 'people'} %} People
        {%- if hasBirthday | default(false) %} 🎂{% endif %}
    </a>
    <a href="{{ path('homepage') }}" class="view-homepage">
        {% include 'default/icon.svg.twig' with {'icon': 'messages'} %} Messages
    </a>
    <a href="#" class="show-search" title="Search">
        {% include 'default/icon.svg.twig' with {'icon': 'search'} %}
    </a>
    <form class="search-form" role="form" action="{{ path('search_by_page') }}" method="get">
        <input type="search" id="search" name="searchTerm" class="search" value="{{ searchTerm | default('') }}" placeholder="Search"/>
        <button type="submit" class="button-primary">Go</button>
    </form>
</div>
