{% spaceless %}
{% if app.user == message.user %}
    {% if message.likeCount > 0 %}
        <div class="message-likes">
            <div class="like my-likes" title="Liked by {{ message.getUserLikesNames() }}">
                {% include 'default/icon.svg.twig' with {'icon': 'thumbs-up'} %}
                <span class="like-count">{{ message.likeCount }}</span>
            </div>
        </div>
    {% endif %}
{% else %}
    <div class="message-likes">
        <a href="{{ path('like_message', {'id' : message.id}) }}"
            {%- if app.user and message.isLikedByUser(app.user) %} class="like liked"{% else %} class="like"{% endif -%}
            {%- if message.likeCount > 0 %} title="Liked by {{ message.getUserLikesNames() }}"
            {%- else %} title="Like this"{% endif %}>
            {% include 'default/icon.svg.twig' with {'icon': 'thumbs-up'} %}
            {%- if message.likeCount > 0 %}<span class="like-count">{{ message.likeCount }}</span>{% endif -%}
        </a>
    </div>
{% endif %}
{% endspaceless %}
