{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Login{% endblock %}
{% block bodyClasses %}{{ parent() }} page-login{% endblock %}

{% block stylesheets -%}
    {{ parent() }}
    <style type="text/css">
        .login-form-area {
            display: grid;
            justify-content: center;
            align-items: center;
        }

        .login-form-area form {
            color: var(--message-color);
            background-color: var(--message-bg-color);
            box-shadow: 2px 2px 2px rgba(69, 18, 0, 0.1);
            border-left: var(--message-border-size) solid var(--default-message-border-color);
            border-top-left-radius: var(--message-border-size);
            border-bottom-left-radius: var(--message-border-size);
            padding: var(--gap);
            display: grid;
            grid-gap: var(--gap-small);
        }

        .login-form-area button {
            justify-self: self-start;
        }

        .page-login .header {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            justify-items: center;
        }
    </style>
{% endblock -%}

{% block header %}
    <div class="header">
        <span class="family-forum-logo">Family Forum</span>
    </div>
{% endblock header %}

{% block main %}
    <section class="main login-form-area">
        <form name="login" method="post" action="{{ path('login_check') }}" role="form" class="card">
            {% if error %}
                <div class="alert alert-info">{{ error }}</div>
            {% endif %}
            <div class="form-group">
                <label class="control-label required" for="login_username">Name</label>
                <input type="text" id="login_username" name="_username" required="required" autofocus
                       class="form-control" value="{{ last_username | default('') }}">
            </div>
            <div class="form-group">
                <label class="control-label required" for="login_password">Password</label>
                <input type="password" id="login_password" name="_password" required="required" class="form-control">
            </div>
            <div class="form-group checkbox">
                <input type="checkbox" id="login_remember_me" name="_remember_me" value="1" checked>
                <label for="login_remember_me">Remember me</label>
            </div>
            <button type="submit" class="button-primary">Login</button>
        </form>
    </section>
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascripts -%}
{% endblock %}
