<?xml version="1.0" encoding="utf-8"?>
<rss xmlns:media="http://search.yahoo.com/mrss/" xmlns:dc="http://purl.org/dc/elements/1.1/" version="2.0">
    <channel>
        <title>Family Forum</title>
        <link></link>
        <description>A summary of the 50 most recent posts</description>
        <language>en-nz</language>
        <pubDate>{{ 'now' | date('r') }}</pubDate>
{% if messages | length > 0 %}
    {% for message in messages %}
        <item>
            <title>Message from {{ message.user.username }} on {{ message.createdAt | date('Y-m-d') }}</title>
            <link>{{ absolute_url(path('message_context', {'id': message.id})) }}</link>
            <description>
                {{- message.body | striptags | slice(0, 140) -}}
                {%- if message.body | striptags | length > 140 %}...{% endif -%}
            </description>
            <pubDate>{{ message.createdAt | date('r') }}</pubDate>
            {% if message.filePath %}
                <media:content url="{{ absolute_url(asset(message.webPath, 'images')) }}" medium="image" type="image/jpeg" />
            {% endif %}
        </item>
    {% endfor %}
{% endif %}
    </channel>
</rss>
