<div class="message{% if message.user == app.user %} my-message{% endif %}" id="message-{{ message.id }}">
    <div class="card message-main" style="border-left-color: {{ message.user.color }};">
        {% if message.webPath -%}
            <div class="message-image">
                <img src="{{ asset(message.webPath, 'images') }}" alt="Photo" loading="lazy">
            </div>
        {% endif -%}
        {% if message.body -%}
            <div class="message-body">
                {{ message.body | raw }}
            </div>
        {% endif -%}
    </div>
    <div class="message-details">
        <div class="message-author">{{ message.user.username }}</div>
        <div class="message-date">{{ message.createdAt | date('j/m/Y \\a\\t H:i', app.user.timezone | default(null)) }}</div>
        <div class="message-actions">
            {%- if context | default('messages') != 'messages' -%}
                <a href="{{ path('message_context', {'id' : message.id}) }}" class="view-in-context">
                    {% include 'default/icon.svg.twig' with {'icon': 'context'} %} Context
                </a>
            {% endif -%}
            {%- if app.user == message.user -%}
                <a href="{{ path('message_edit', {'id' : message.id}) }}" class="message-edit">
                    {% include 'default/icon.svg.twig' with {'icon': 'edit'} %} Edit
                </a>
            {% endif -%}
            {# {%- include 'default/like.html.twig' -%} #}
        </div>
    </div>
</div>
