{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Create message{% endblock %}
{% block bodyClasses %}{{ parent() }} page-message-create{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/messages.css', 'css') }}">
{% endblock %}

{% block main %}
    <section class="main messages {% if message is defined and message.filePath -%}has-image{% endif %}">
        {% include 'default/messageForm.html.twig' with {'message' : message, 'showDelete' : false} %}
        {%- for message in messages -%}
            {%- include 'default/message.html.twig' %}
        {% endfor %}
    </section>
{% endblock %}

{% block javascripts -%}
    {{ parent() }}
    <script type="module" src="{{ asset('js/editor.js', 'js') }}"></script>
{% endblock %}
