{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | All messages{% endblock %}
{% block bodyClasses %}{{ parent() }} page-all-messages{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        .footer .view-all-messages {
            display: none;
        }

        h1 {
            margin-top: 0;
        }

        h2:first-of-type {
            margin-top: 0;
        }

        .card {
            line-height: 0;
            padding: var(--gap);
        }

        .mt {
            height: 8px;
            width: 8px;
            margin-right: 2px;
            margin-bottom: 2px;
            display: inline-block;
        }

        {% if users | length > 0 %}
        {% for user in users %}
        .u-{{ user.id }} {
            background-color: {{ user.color }};
        }

        {% endfor %}
        {% endif %}

        .message-chart {
            display: flex;
            flex-direction: row;
        }

        .message-chart > div {
            flex: 1 1 auto;
            height: 200px;
            cursor: pointer;
        }

        .message-links h2 {
            display: flex;
            justify-content: space-between;
        }

        .message-links h2 a {
            font-size: 14px;
            font-weight: normal;
            cursor: pointer;
        }

        .message-links h3 {
            display: none;
            margin: 10px 0;
        }
    </style>
{% endblock stylesheets %}

{% block main %}
    <section class="main all-messages">
        <div class="heading">
            <h1>Showing all {{ totalMessages }} messages</h1>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script type="module">
      import { createElement as e } from '/js/element.js';

      // noinspection JSAnnotator
      const allMessages = {{ sortedMessages | raw }};
      const allMessagesArea = document.querySelector('.all-messages');

      // show a stacked chart of people's messages by month
      const messageChart = e('div', { className: 'card message-chart' });

      Object.keys(allMessages).sort().forEach(messageYear => {
        Object.keys(allMessages[messageYear]).reverse().forEach(messageMonth => {
          const messagesForMonth = allMessages[messageYear][messageMonth].length;
          const messages = allMessages[messageYear][messageMonth];

          let month = e(
            'div',
            {
              // style: `height: ${messages.length * scale}px`,
              title: `${messageMonth} ${messageYear} ${messages.length} messages`,
              on: {
                click: event => {
                  event.preventDefault();
                  let months = document.querySelectorAll(`.month-${messageYear}`);
                  months.forEach(month => {
                    if (month.style.display !== 'block') {
                      month.style.display = 'block';
                    }
                  });
                  window.location = `#${messageMonth}-${messageYear}`
                }
              }
            }
          );

          for (let i = 1; i <= 20; i++) {
            let percentOfMessages = (messages.filter((message) => {
              return (message.u === i);
            }).length || 0) / messagesForMonth * 100;
            if (percentOfMessages > 0) {
              month.appendChild(
                e(
                  'div',
                  {
                    style: `height: ${percentOfMessages}%`,
                    className: `u-${i}`
                  }
                )
              )
            }
          }

          messageChart.appendChild(month);
        });
      });

      allMessagesArea.appendChild(messageChart);

      // show every message as a square
      const messageLinks = e('div', { className: 'card message-links' });

      Object.keys(allMessages).sort().reverse().forEach(messageYear => {
        messageLinks.appendChild(
          e('h2', {}, messageYear, e('a', {
            on: {
              click: event => {
                event.preventDefault();
                let months = document.querySelectorAll(`.month-${messageYear}`);
                months.forEach(month => {
                  month.style.display = (month.style.display === 'block') ? 'none' : 'block';
                });
              }
            }
          }, 'show months'))
        );

        Object.keys(allMessages[messageYear]).forEach(messageMonth => {
          messageLinks.appendChild(
            e(
              'h3',
              {
                className: `month-${messageYear}`,
                id: `${messageMonth}-${messageYear}`
              },
              messageMonth
            )
          );

          allMessages[messageYear][messageMonth].forEach(message => {
            messageLinks.appendChild(
              e(
                'a',
                {
                  className: `mt u-${message.u}`,
                  href: `/message/${message.i}/context`
                }
              )
            );
          });
        })
      });

      allMessagesArea.appendChild(messageLinks);
    </script>
{% endblock %}