{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Edit message{% endblock %}
{% block bodyClasses %}{{ parent() }} page-message-edit{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/messages.css', 'css') }}">
{% endblock %}

{% block main %}
    <section class="main {% if message is defined and message.filePath -%}has-image{% endif %}">
        {% include 'default/messageForm.html.twig' with {'message' : message, 'showDelete' : true} %}
    </section>
{% endblock %}

{% block javascripts -%}
    {{ parent() }}
    <script type="module" src="{{ asset('js/editor.js', 'js') }}"></script>
{% endblock %}
