{% extends 'base.html.twig' %}

{% block head %}
    {% if app.user and app.user.id in [3] %}
        <link rel="prefetch" href="{{ path('users') }}">
        {% if page < pagesCount %}
            <link rel="next" href="{{ nextLink }}">
        {% endif %}
    {% endif %}
{% endblock %}

{% block bodyClasses %}{{ parent() }} page-messages{% if page == 1 %} homepage{% endif %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/messages.css', 'css') }}">
{% endblock %}

{% block main -%}
    <section class="main messages">
    <a href="{{ path('message_create') }}" class="button button-primary message-create-new">
        {% include 'default/icon.svg.twig' with {'icon': 'new-message'} %} Create a new message</a>
    {%- if messages | length > 0 -%}
        {%- include 'default/pagination.html.twig' with {'extraClasses' : 'pagination-top'} -%}
    {%- endif -%}
    {%- if messages | length > 0 -%}
        {%- for message in messages -%}
            {%- include 'default/message.html.twig' %}
        {% endfor %}
    {% else %}
        <div class="alert alert-info">Sorry, there aren't any messages to see here.</div>
    {% endif %}
    {%- if messages | length > 0 -%}
        {%- include 'default/pagination.html.twig' with {'extraClasses' : 'pagination-bottom'} -%}
    {%- endif -%}
</section>
{% endblock -%}

{% block javascripts -%}
    {{ parent() }}
    <script type="module" src="{{ asset('js/messages.js', 'js') }}"></script>
{% endblock %}
