{{ form_start(
    form, {
        'attr': {
            'class': 'card message-form ' ~ extraClasses | default(''),
            'style': 'border-left-color:' ~ app.user.color | default('var(--default-message-color)')
        }
    })
}}
<div class="uploaded-image message-image{% if message is not defined or not message.webPath %} is-hidden{% endif %}">
    <img src="{% if message is defined and message.webPath %} {{ asset(message.webPath) }}{% endif %}" alt="Current photo"/>
    <a href="#" class="remove-image button button-warning">Remove photo</a>
</div>
<div class="form-fields">
    <div class="form-group photo-form-group{% if message is defined and message.webPath %} is-hidden{% endif %}">
        {{ form_widget(form.file, {'attr': {'class': 'image-file-name'}}) }}
        <span class="button button-primary upload-photo" title="Upload photo">
            {% include 'default/icon.svg.twig' with {'icon': 'add-image', 'stroke': '#FFFFFF'} %} Upload photo
        </span>
    </div>
    <div class="form-group">
        {{ form_label(form.body, 'Your message') }}
        <div id="message-editor"></div>
        <div id="back-to-editor" class="pell-actionbar is-hidden">
            <button class="pell-button" title="What you see is what you get">
                {% include 'default/icon.svg.twig' with {'icon': 'wysiwyg'} %}&nbsp;WYSIWYG
            </button>
        </div>
        {{ form_widget(form.body, {'attr' : {'class' : 'is-hidden'}}) }}
        {{ form_errors(form.body) }}
    </div>
    {% if form.isBrenter is defined %}
        <div class="form-group checkbox">
            {{ form_widget(form.isBrenter) }}
            {{ form_label(form.isBrenter) }}
            {{ form_errors(form.isBrenter) }}
        </div>
    {% endif %}
    {{ form_row(form.filePath, {'attr' : {'class' : 'image-path'}}) }}
    {{ form_rest(form) }}
    <div class="form-actions">
        <button type="submit" class="message-save button button-primary">Save</button>
        <a href="{{ path('messages') }}" class="message-cancel-edit button button-warning">Cancel</a>
        {% if showDelete | default(false) %}
            <a href="{{ path('message_delete', {'id' : message.id}) }}" class="message-delete button button-danger">Delete</a>
        {% endif %}
    </div>
</div>
{{ form_end(form) }}
