<div class="pagination{% if extraClasses %} {{ extraClasses }}{% endif %}">
    {% if page > 1 %}
        <a href="{{ prevLink }}" class="previous-page" title="Previous page">
            {% include 'default/icon.svg.twig' with {'icon': 'nav-left'} %}Prev
        </a>
    {% endif %}
    <span class="pages">Page {{ page }} of {{ pagesCount }}</span>
    {% if page < pagesCount %}
        <a href="{{ nextLink }}" class="next-page" title="Next page">
            Next{% include 'default/icon.svg.twig' with {'icon': 'nav-right'} %}
        </a>
    {% endif %}
</div>
