{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | People{% endblock %}
{% block bodyClasses %}{{ parent() }} page-users{% endblock %}

{% block stylesheets -%}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/users.css', 'css') }}">
{% endblock -%}

{% block header %}
    {% include 'default/header.html.twig' %}
{% endblock %}

{% block main %}
    <section class="main users">
        {% if users | length > 0 %}
            {% for user in users %}
                {% include 'default/user.html.twig' %}
            {% endfor %}
        {% else %}
            <div class="alert alert-info">Sorry, there aren't any people to see here.</div>
        {% endif %}
    </section>
{% endblock %}
