<div class="card user user-{{ user.id }}" style="border-left-color: {{ user.color }};">
    <div class="user-heading">
        <div class="user-name">{{ user.username }}</div>
        <div class="user-birthday">{{ user.bornAt | date('j F Y') }}</div>
    </div>
    <div class="user-details">
        <dl>
            <dt>Address</dt>
            <dd>{{ user.address | nl2br }}</dd>
            {% if user.email %}
                <dt>Email</dt>
                <dd><a href="mailto:{{ user.email }}">{{ user.email }}</a></dd>
            {% endif %}
            {% if user.phoneMobile %}
                <dt>Mobile</dt>
                <dd><a href="tel:{{ user.phoneMobile }}">{{ user.phoneMobile }}</a></dd>
            {% endif %}
            {% if user.phoneHome %}
                <dt>Home</dt>
                <dd><a href="tel:{{ user.phoneHome }}">{{ user.phoneHome }}</a></dd>
            {% endif %}
            {% if user.phoneWork %}
                <dt>Work</dt>
                <dd><a href="tel:{{ user.phoneWork }}">{{ user.phoneWork }}</a></dd>
            {% endif %}
            {% if user.messageCount %}
                <dt>Messages</dt>
                <dd>{{ user.messageCount }} - <a href="{{ path('messages_by_person', {'id' : user.id}) }}">view</a></dd>
            {% endif %}
            {% if user.visitedAt %}
                <dt>Last seen</dt>
                <dd>{{ user.visitedAt | date('j M Y \\a\\t H:i', app.user.timezone) }}</dd>
            {% endif %}
        </dl>
        {% if app.user == user %}
            <a href="{{ path('user_edit', {'id' : user.id}) }}" class="button button-primary edit-my-details">
                {% include 'default/icon.svg.twig' with {'icon': 'edit'} %} Edit
            </a>
        {% endif %}
    </div>
</div>
