{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Edit your details{% endblock %}
{% block bodyClasses %}{{ parent() }} page-user-edit{% endblock %}

{% block stylesheets -%}
    {{ parent() }}
    <style type="text/css">
        .edit-user .user-form {
            display: grid;
            grid-gap: var(--gap-small) var(--gap);
        }

        @media screen and (min-width: 600px) {
            .edit-user .user-form {
                grid-template-columns: 1fr 1fr;
            }
        }

        .password-strength {
            padding: var(--gap-smaller) 0 0;
            position: relative;
            font-size: var(--font-size-tiny);
        }

        .password-strength::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 5px;
            background-color: var(--color-gray);
        }

        .password-strength::after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 5px;
            background-color: var(--color-lightest);
            transition: width 0.3s cubic-bezier(0.1, 0.6, 0.45, 0.94), background-color 0.3s cubic-bezier(0.1, 0.6, 0.45, 0.94);
        }

        .password-strength[data-strength="invalid"] {
            color: var(--color-red);

        }

        .password-strength[data-strength="invalid"]::after {
            background-color: var(--color-red);
            width: 20%;
        }

        .password-strength[data-strength="poor"] {
            color: var(--color-gray-dark);

        }

        .password-strength[data-strength="poor"]::after {
            background-color: var(--color-gray-dark);
            width: 50%;
        }

        .password-strength[data-strength="ok"] {
            color: var(--color-blue);

        }

        .password-strength[data-strength="ok"]::after {
            background-color: var(--color-blue);
            width: 75%;
        }

        .password-strength[data-strength="good"] {
            color: var(--color-green);

        }

        .password-strength[data-strength="good"]::after {
            background-color: var(--color-green);
            width: 100%;
        }

        .password-toggler-wrapper {
            position: relative;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .password-toggler-wrapper input {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
        }

        .password-toggler {
            color: var(--color-blue);
            cursor: pointer;
            display: flex;
            align-items: center;
            grid-column-start: 2;
            grid-row-start: 1;
            justify-self: end;
            padding: 0 var(--gap-smaller);
            font-size: var(--font-size-tiny);
        }

        .password-toggler-is-active {
            color: var(--color-gray-dark);
        }
    </style>
{% endblock -%}

{% block main %}
    <section class="main">
        <div class="card edit-user">
            {{ form_start(form, {'attr' : {'class' : 'user-form', 'autocomplete': 'off'}}) }}
            <div class="form-group">
                {{ form_label(form.username, 'Name') }}
                {{ form_widget(form.username) }}
            </div>
            <div class="form-group">
                <a href="#"
                   onclick="document.querySelector('.password-form-group').classList.toggle('is-hidden');this.remove();"
                >Change password</a>
                <div class="password-form-group is-hidden">
                    {{ form_label(form.password) }}
                    <div class="password-toggler-wrapper">
                        {{ form_widget(form.password, {'attr': {'minlength': 8, 'autocomplete': 'off'}}) }}
                        <span class="js-password-toggler password-toggler hide"
                              data-target="{{ form.password.vars.id }}">show</span>
                    </div>
                    <div class="js-password-strength password-strength hide"
                         data-target="{{ form.password.vars.id }}"></div>
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
            </div>
            <div class="form-group">
                {{ form_label(form.address) }}
                {{ form_widget(form.address, {'attr' : {'class' : 'address'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.phoneHome) }}
                {{ form_widget(form.phoneHome) }}
            </div>
            <div class="form-group">
                {{ form_label(form.phoneMobile) }}
                {{ form_widget(form.phoneMobile) }}
            </div>
            <div class="form-group">
                {{ form_label(form.phoneWork) }}
                {{ form_widget(form.phoneWork) }}
            </div>
            <div class="form-group">
                {{ form_label(form.color, 'Your preferred colour') }}
                {{ form_widget(form.color) }}
            </div>
            {{ form_rest(form) }}
            <div class="actions">
                <button type="submit" class="user-save button-primary">Save</button>
                <a href="{{ path('messages') }}" class="user-cancel-edit button button-warning">Cancel</a>
            </div>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="module">
      import PasswordStrengthIndicator from '{{ asset('js/password-strength-indicator.js', 'js') }}';
      import PasswordToggler from '{{ asset('js/password-toggler.js', 'js') }}';

      const passwordStrengthIndicator = new PasswordStrengthIndicator();
      const strengthHelper = document.querySelector('.js-password-strength');
      passwordStrengthIndicator.init(strengthHelper);

      const passwordToggler = new PasswordToggler();
      const toggler = document.querySelector('.js-password-toggler');
      passwordToggler.init(toggler);
    </script>
{% endblock %}
