<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Family Forum{% endblock %}</title>
    <meta name="Description" content="A private family forum where members can share images and chat.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#0e252d"/>
    {% block head %}{% endblock -%}
    {% block stylesheets -%}
        {% if app.environment == 'dev' -%}
            <style>body::before {background-color: darkred!important;} .header {background-color: darkred!important}</style>
        {% endif -%}
        <link href="{{ asset('css/common.css', 'css') }}" rel="stylesheet" media="screen" />
        {% if app.user %}<style>:root { --person-color: {{ app.user.color }}; }</style>{% endif %}
    {% endblock -%}
    <link rel="icon" type="image/png" href="{{ asset('images/favicon.png') }}">
    {% if app.user %}<link rel="manifest" href="/manifest.webmanifest?201908150845">{% endif %}
    <script>
      const USER_ID = {{ app.user.id | default(0) }};
      const features = {
        'SHOW_IMAGE_PREVIEW': [3].includes(USER_ID),
        'SAVE_WITH_AJAX': [3].includes(USER_ID),
        'RESIZE_IMAGES': [3].includes(USER_ID),
      };

      const fontSizeSetting = localStorage.getItem('font-size');

      if (fontSizeSetting) {
        document.documentElement.style.setProperty('--size-adjust', fontSizeSetting);
      }
    </script>
</head>
<body class="{% block bodyClasses %}url-{{ app.request.host | replace({'.' : '-'}) }}{% endblock %}">

{% block header -%}
    {% include 'default/header.html.twig' %}
{% endblock -%}

{% block main %}{% endblock %}

{% block footer -%}
    {% include 'default/footer.html.twig' %}
{% endblock -%}

{% block javascripts -%}
    <script src="{{ asset('js/nomodule.js', 'js') }}" nomodule defer></script>
    <script type="module" src="{{ asset('js/common.js', 'js') }}"></script>
{% endblock %}
</body>
</html>
